<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ pin.title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
  crossorigin="anonymous">
</head>
<body>
  <section class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <img src="{{ pin.image }}" alt="">
      </div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>{{ pin.title }}</h2>
        <p class="lead">{{ pin.description }}</p>
        <a href="{{ pin.source }}">{{ pin.source }}</a>
        <a class="btn btn-primary" href="{{ pin.id }}/edit">Edit</a>
        <form action="{{ pin.id }}/delete" method="POST">
          <button class='btn btn-danger'>Delete</button>
        </form>
      </div>
    </div>
  </section>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
  crossorigin="anonymous"></script>
</body>
</html>
