{% include "partials/header.html" %}
  <section class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <img src="{{ pin.image }}" alt="">
      </div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>{{ pin.title }}</h2>
        <p class="lead">{{ pin.description }}</p>
        <a href="{{ pin.source }}">{{ pin.source }}</a>
        <div class="mt-3">
          <a class="btn btn-primary btn-lg" href="{{ pin.id }}/edit">Edit</a>
          <form action="{{ pin.id }}/delete" method="POST" id="delete-form">
            <button class='btn btn-danger btn-lg'>Delete</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% include "partials/footer.html" %}